.main {
  background-color: rgba(245, 245, 245, 1);
}

.container {
  padding: 30px 50px;
}

.ourservicestext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.ourservicestext > p:first-child {
  font-family: Roboto;
  font-size: 48.3px;
  font-weight: 600;
  line-height: 56.6px;
  text-align: left;
  color: rgba(36, 37, 39, 1);
  width: 45%;
}

.ourservicestext > p:last-child {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  width: 45%;
  color: rgba(0, 0, 0, 1);
}

.allservices {
  display: flex;
  justify-content: space-between;
}

.subservices {
  width: 31%;
  position: relative;
}
.image1 {
  background-image: url("../../../../../public/images/services/realestate1.png");
  width: 100%;
  height: 200px;
}

.image2 {
  background-image: url("../../../../../public/images/services/realestate2.png");
  width: 100%;
  height: 200px;
}

.image3 {
  background-image: url("../../../../../public/images/services/realestate3.png");
  width: 100%;
  height: 200px;
}

.subtext {
  margin-left: 10px;
}

.subtext h6 {
  font-family: Roboto;
  font-size: 29.4px;
  font-weight: 600;
  line-height: 34.45px;
  text-align: left;
  color: rgba(36, 37, 39, 1);
  margin: 20px 0px;
}

.subtext p {
  font-family: Roboto;
  font-size: 19.64px;
  font-weight: 400;
  line-height: 33.51px;
  letter-spacing: -0.23109501600265503px;
  text-align: left;
  color: rgba(22, 28, 45, 1);
}
@media screen and (max-width: 780px) {
  .allservices {
    display: block;
  }

  .subservices {
    padding-right: 0px;
    margin-right: 0px;
    width: 100%;
    margin-bottom: 20px;
  }

  .ourservicestext {
    display: block;
  }

  .ourservicestext > p:first-child {
    width: 100%;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: normal;
  }

  .ourservicestext > p:last-child {
    width: 100%;
  }
}
