.main {
  margin-top: 100px;
  padding: 5px 0px;
}

.container {
  padding: 30px 0px;
  font-family: Roboto;
  margin: 0px 50px;
  background-image: url("../../../public/images/gasbg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.maintop {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.mainimage {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
}

.maintext {
  display: block;
  width: 50%;
}
.maintext h1 {
  font-size: 56px;
  font-weight: 700;
  /* text-shadow: 5px 5px 5px white; */
  color: rgba(255, 255, 255, 0.6);
}

.maintext p {
  font-size: 20;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  margin: 10px 0px;
  /* text-shadow: 5px 2px 5px white; */
}

.button {
  box-shadow: 0px 8px 16px 0px rgba(250, 116, 54, 0.16);
  background-color: rgba(0, 0, 0, 1);
  color: white !important;
  width: 166px;
  height: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.mainbottom {
  box-shadow: 0px 2px 80px 2px rgba(0, 0, 0, 0.06),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    90.54deg,
    rgba(255, 255, 255, 0.6) 0.12%,
    rgba(255, 255, 255, 0.6) 119.88%
  );
  border-radius: 149px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 124px;
  width: 85%;
  margin: 0px auto;
}
.det {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detext {
  margin-left: 10px;
}

.detext > p:first-child {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  color: rgba(34, 34, 34, 1);
}

.detext > p:last-child {
  color: rgba(102, 102, 102, 1);
  font-size: 10px;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .container {
    height: auto;
    background-image: none;
    padding: 0px;
    padding-bottom: 30px;
  }

  .maintop {
    flex-wrap: wrap;
    margin: 0px 50px;
    margin-bottom: 30px;
  }
  .maintext {
    width: 100% !important;
    /* padding: 20px; */
  }
  .maintext h1 {
    font-size: 30px;
    color: black;
  }
  .maintext p {
    color: black;
  }
  .mainbottom {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    background-image: none;
    background-repeat: no-repeat;
    /* background-position: bottom center; */
  }

  .maintext {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .mainimage {
    display: none;
  }

  .mainbottom {
    border-radius: 0px;
    margin: 10px 0px;
    width: 100%;
    background-color: none !important;
    flex-direction: column;
    height: max-content;
    align-items: flex-start;
    margin-bottom: 0px;
    padding-left: 50px;
  }
  .det {
    margin-bottom: 20px;
  }

  .container {
    padding-bottom: 0px;
    margin: 0px;
  }
}
