.main {
  background-color: white;
}

.container {
  padding: 30px 50px;
}

.ourservicestext {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.ourservicestext > p {
  background: rgba(178, 178, 178, 0.13);
  padding: 10px;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 33.17px;
  font-weight: 00;
  line-height: 20.12px;
  color: rgba(22, 28, 45, 1);
  text-align: center;
}
.allservices {
  display: flex;
}

.subservices {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  padding-right: 20px;
  margin-right: 20px;
}

.allservices > * {
  border-right: 1px solid;
}

.allservices > *:last-child {
  border-right: none !important;
}
.subtext {
  margin-left: 10px;
}

.subtext h6 {
  font-family: Roboto;
  font-size: 24.26px;
  font-weight: 700;
  line-height: 36.98px;
  letter-spacing: -0.57773756980896px;
  text-align: left;
  margin-bottom: 10px;
  color: rgba(22, 28, 45, 1);
}

.subtext p {
  font-family: Roboto;
  font-size: 19.64px;
  font-weight: 400;
  line-height: 33.51px;
  letter-spacing: -0.23109501600265503px;
  text-align: left;
  color: rgba(22, 28, 45, 1);
}
@media screen and (max-width: 780px) {
  .allservices {
    display: block;
  }

  .allservices > * {
    border-right: none;
  }

  .subservices {
    padding-right: 0px;
    margin-right: 0px;
  }
}
