.main {
  margin-top: 100px;
  padding: 5px 0;
}

.container {
  padding: 30px 50px;
  font-family: Roboto;
  margin: 0 auto;
  background-image: url("../../../public/images/realestate.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.maintext {
  width: 100%;
}

.maintext h1 {
  font-size: 51px; /* Adjusted font size */
  font-weight: 700;
}

.maintext p {
  font-size: 18px; /* Adjusted font size */
  font-weight: 500;
  color: rgba(34, 34, 34, 0.8);
  margin: 10px 0;
}

.button {
  box-shadow: 0 8px 16px 0 rgba(250, 116, 54, 0.16);
  background-color: rgba(0, 0, 0, 1);
  color: white !important;
  width: 166px;
  height: 50px;
  text-align: center;
  font-size: 16px; /* Adjusted font size */
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.mainbottom {
  box-shadow: 0 2px 80px 2px rgba(0, 0, 0, 0.06),
    0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    90.54deg,
    rgba(255, 255, 255, 0.6) 0.12%,
    rgba(255, 255, 255, 0.6) 119.88%
  );
  border-radius: 149px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 124px;
  width: 85%;
  margin: 0 auto;
}

.det {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detext {
  margin-left: 10px;
}

.detext > p:first-child {
  font-family: Poppins;
  font-size: 13px; /* Adjusted font size */
  font-weight: 500;
  color: rgba(34, 34, 34, 1);
}

.detext > p:last-child {
  color: rgba(102, 102, 102, 1);
  font-size: 12px;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .maintext h1 {
    font-size: 30px;
  }
  .mainbottom {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    background-image: url("../../../public/images/realestate.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 30px 20px;
  }

  .maintop {
    margin: 0;
  }

  .maintext {
    width: 100%;
  }

  .mainimage {
    display: none;
  }

  .mainbottom {
    height: auto;
    align-items: center;
    justify-content: space-around;
    padding: 10px 5px;
    margin: 20px auto;
    width: 90%;
  }

  .det {
    /* margin-bottom: 20px; */
  }

  .container {
    padding-bottom: 0;
    margin: 0;
  }

  .detext > p:first-child {
    font-size: 10px; /* 13px - 5px */
  }

  .detext > p:last-child {
    font-size: 8px; /* 10px - 5px */
  }
}
