.container {
  display: flex;
  align-items: flex-start;
  padding: 50px;
  background-color: #f8f8f8;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image {
  border-radius: 8px;
  object-fit: cover;
}

.letterContainer {
  flex: 2;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.container p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 16px;
  color: #555;
}

.container p:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }
}
