.container {
  background-color: white;
  border-right: 1px solid #f3f3f3;
  width: 70%;
  position: fixed;
  top: 0;
  min-height: 100vh;
  display: none;
  /* padding: 20px; */
}

.logo {
  padding: 20px;
}

.link p {
  border-bottom: 1px solid #f3f3f3;
  margin: 10px 20px;
  cursor: pointer;
  padding: 20px 0px;
  transition: all 1.5s linear;
}

.link p:hover {
  transform: translate(2px, 2px);
}

.button p {
  border-bottom: none !important;
}
.button {
  border-radius: 14px;
  border: 1.5px solid #cbc7c7;
  padding: 0px 5px;
  margin: 10px;
  /* width: 70%; */
  width: max-content;
}

.button:hover {
  background-color: goldenrod;
  color: white;
}
.button > p {
  padding: 0px;
}
@media screen and (max-width: 1200px) {
  .container {
    display: block;
  }
}
