.container {
  background-color: white;
  border-right: 1px solid #f3f3f3;
  width: 70%;
  position: fixed;
  top: 0;
  min-height: 100vh;
  display: none;
  z-index: 130;
  /* padding: 20px; */
}

.logo {
  padding: 20px;
}

.link p {
  border-bottom: 1px solid #f3f3f3;
  margin: 10px 20px;
  cursor: pointer;
  padding: 20px 0px;
  transition: all 0.5s linear;
}

.link p:hover {
  /* transform: translate(2px, 2px); */
}

.dropdown {
  position: relative;
}
.dropdownToggle {
  display: flex;
  align-items: center;
}

.dropdownToggle::after {
  content: "\2193"; /* Down arrow */
  font-size: 16px; /* Adjust size as needed */
  margin-left: 5px; /* Adjust spacing as needed */
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdownContent p {
  padding: 10px;
  font-size: 16px;
  /* color: white; */
}

.dropdownContent p:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.button p {
  border-bottom: none !important;
  padding: 0px !important;
  font-size: 12px;
}

.button {
  border-radius: 14px;
  border: 1.5px solid black;
  padding: 10px 20px;
  transition: all 0.2s linear;
  margin: 0px 20px;
  background-color: black;
  color: white;
  width: 230px;
}

.button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1200px) {
  .container {
    display: block;
  }
}
