.container {
  background-color: black;
  color: white;
  width: 100%;
  overflow: hidden;
}

.main {
  padding: 50px 0px;
  font-family: Roboto;
  display: flex;
  justify-content: space-between;
  margin: 0px 50px;
}

.details {
  display: flex;
}

.details > p {
  font-weight: 400;
  font-size: 17.28px; /* 22.28px - 5px */
  margin: 0px 5px;
}
.detailshead {
  font-weight: 500 !important;
}

.newsletterinput {
  border: 1.11px solid #ffffff;
  padding: 11.14px 8.91px;
  border-radius: 4.46px;
}

.button {
  background-color: #f9c476;
  color: black;
  padding: 12.83px 17.28px; /* Adjusted padding to maintain proportion */
  border-radius: 4.46px;
  font-weight: 600;
  font-size: 15.6px; /* 20.6px - 5px */
  margin: 0px 5px;
}

.headtext {
  font-weight: 500;
  font-size: 15.28px; /* 22.28px - 5px */
}

.logotext {
  font-weight: 700;
  font-size: 28.43px; /* 33.43px - 5px */
  margin: 0px 5px;
  font-style: italic;
}

@media screen and (max-width: 1024px) {
  .main {
    display: block;
    width: 90%;
    margin: auto;
  }
  .main section {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  .main {
    display: block;
    width: 90%;
    margin: auto;
  }
  .main section {
    width: 90%;
    margin: auto;
  }

  .logotext {
    font-size: 10.43px; /* 15.43px - 5px */
  }
  .details {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .detailshead {
    margin-bottom: 2px !important;
  }
  .prop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin-bottom: 50px !important;
  }

  .button {
    padding: 5.83px 5.28px; /* Adjusted padding to maintain proportion */
  }

  .details > p {
    font-weight: 400;
    font-size: 13.28px; /* 18.28px - 5px */
    margin: 0px 5px;
  }
}
