.container {
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.image1 {
  background-image: url("../../../../../public/images/fuelplug.png");
  width: 50%;
  height: 500px;
}

.image2 {
  background-image: url("../../../../../public/images/gaspics.png");
  width: 50%;
  height: 500px;
}

.image3 {
  background-image: url("../../../../../public/images/engineers.png");
  width: 50%;
  height: 500px;
}

.textdetails {
  width: 50%;
  background-color: rgba(245, 245, 245, 1);
  padding: 30px;
  height: 500px;
}

.textdetails h6 {
  font-family: Roboto;
  font-size: 34px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.5px;
}

.textdetails > p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgba(109, 110, 113, 1);
  margin-bottom: 20px;
}

.textdetails > span {
  display: flex;
}
.textdetails > span > p {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  margin: 0px 10px;
}

@media screen and (max-width: 1024px) {
  .list {
    flex-direction: column;
  }
  .textdetails {
    height: auto;
    width: 100%;
  }
  .image1,
  .image2,
  .image3 {
    width: 100%;
    transition: all 2.5s ease-in-out;
  }
  .listeven {
    flex-direction: column-reverse !important;
  }
}

@media screen and (max-width: 768px) {
  .image1,
  .image2,
  .image3 {
    background-size: cover;
  }
}
